@import "components/_container.css";
@import "config/_colors.css";
@import "components/_avatar.css";

h1 {
font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 91px;
color: #000000;

}

h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #000000;

}

h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

color: #000000;

}

h4 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

h5 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  dislay: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  dislay: block;
  margin-block-start: 0em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

