.main-container {
  background-color: #E9EEE8;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;


}

.container-grey {
  background-color: #E9EEE8;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;



}

.container-grey-logo {
  position:
  top: 460px;
  left:750px;

}

.container-grey-text-flex {
 background-color: #E9EEE8;
 display: flex;
 justify-content: space-around;
 align-items: center;
}


.container-grey-text {
  background-color: #E9EEE8;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;


}

.container-white {
  background-color: #FFF8F8;

}

.container-contact {
  background-color: #FFD6BE;

}

.banner {
  background-color: #E9EEE8;
  height: 670px;

}
